* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

html, body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #003330;
}

html {
  background: #E6FFFD;
}

#root {
  height: 100%;
};
