.landing {
}

.landing-banner {
  position: relative;
  background: url('./lex-aliviado-unsplash.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 600px;
}

.landing-banner-credit {
  position: absolute;
  transform: translate(-50%, -0%);
  bottom: 20px;
  left: 50%;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

// .landing-img {
//   max-width: 1000px;
//   height: 100%;
// }

.landing-search-wrapper {
  position: absolute;
  top: 50%;
  left: 10%;

  h2 {
    margin-bottom: 10px;
  }
}
