.landing {
}

.landing-banner {
  position: relative;
  background: url('./lex-aliviado-unsplash.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 600px;
  // margin-bottom: 30px;
}

.landing-banner-credit {
  position: absolute;
  transform: translate(-50%, -0%);
  bottom: 20px;
  left: 50%;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

.landing-search-wrapper {
  position: absolute;
  top: 50%;
  left: 10%;

  h2 {
    margin-bottom: 10px;
  }
}

.landing-join-now-btn {
  margin: 20px 20px;
  padding: 5px 30px;
  border-radius: 5px;
  background: #008077;
  color: #FAFAFA;
  font-size: 17px;
  text-decoration: none;
}

.landing-join-now-btn:hover {
  cursor: pointer;
}

.landing-join-now-btn:active {
  color: #003330;
  background: #00998F;
}

.landing-description {
  padding: 20px;
}
