.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 225px;
  margin: 0px 5px;
  padding: 5px 7px;
  border: 1px solid #008077;
  border-radius: 5px;
  font-size: 15px;
}
