.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.signup-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signup-input {
  width: 275px;
  margin: 3px 5px;
  padding: 7px;
  border: 1px solid #008077;
  border-radius: 5px;
  font-size: 15px;
}

.signup-account-type-header {
  text-align: center;
  font-size: 17px;
}
.signup-account-type-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.signup-radio-btn-wrapper {
  display: flex;
  align-items: center;

  .signup-input-radio {
    height: 17px;
    width: 17px;
  }

  span {
    margin-left: 3px;
    font-size: 17px;
  }
}

.signup-submit-btn {
  width: 275px;
  margin: 3px 5px;
  padding: 7px;
  border-radius: 5px;
  background: #008077;
  color: #FAFAFA;
  font-size: 17px;
}

.signup-submit-btn:hover {
  cursor: pointer;
}

.signup-submit-btn:active {
  color: #003330;
  background: #00998F;
}
